.top{
  background-image: url("../images/backgrounds/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:50vh;
  color: white;
  text-transform: uppercase;
}
.top h1{
  margin-top: 100px;
}
h3{
  text-transform: capitalize;
}
ul{
  list-style: none;
}
#menu img{
  height: 200px;
  width: 200px;

}
.table,th,td{
  border: 2px solid rgb(210, 105, 30);
}
.table{
  border-collapse: collapse;
}
#make-order{
  background-image: url("../images/backgrounds/slice.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
table td{
  color:black;
  font: 24px;
}
#order-summary{
  display: none;
}
#contactUs{
  background-image: url("../images/backgrounds/c-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-top: 15px;
}
input#comment{
  height: 200px;
}
.form-control{
  background: transparent;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
}
